<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./../css/style.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backpacker200209</title>
</head>
<body>
  <header class="header">
    <div class="nav">
        <div class="nav__left">
          <a href="/">
            <img class="icon" src="logo8.png">
        </div>
            <div class="font">Backpacker</div>
          </a>

        <!-- {{if user_signed_in?}}  -->

          <!-- <div class="nav__right">
            <a class=nav__btn href="">Logout</a>
            <a class=nav__btn href="">New Article</a>
          </div> -->

        <!-- <% else %> -->
          <div class="nav__right">
            <a class=nav__btn href="">Login</a>
            <a class=nav__btn href="">SignUp</a>
          </div>
        <!-- <% end %> -->
    </div>
    <div class="inner">
    </div>
  </header>




  <footer class="footer">
    <p class="copyright">Copyright © Backpacker 200209 All rights reserved.</p>
  </footer>
</body>
</html>